#wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), color-stop(70%, #70ceff), to(#002363));
  background: linear-gradient(#fff 25%, #70ceff 70%, #002363);
  width: 100%;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../img/sea.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;
}

#home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), to(#fff));
  background: linear-gradient(transparent 60%, #fff);
}

#canvas {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
}

#about {
  position: relative;
  height: 100vh;
  min-height: 969px;
}

#project {
  position: relative;
  height: 100vh;
  min-height: 969px;
  overflow: hidden;
}

#contact {
  position: relative;
  height: 93vh;
  overflow: hidden;
}

#footer {
  position: relative;
  height: 7vh;
  background: #002363;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

h2 {
  font-size: 80px;
  color: #425a73;
  font-weight: 800;
  text-align: center;
  font-family: 'Kaushan Script';
  padding: 40px 0 50px 0;
}

.logo {
  position: fixed;
  top: 45px;
  left: 50px;
  z-index: 500;
}

.logo a {
  display: block;
  font-family: 'Kaushan Script';
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.gnb-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 120px;
  z-index: 500;
}

.gnb-menu .gnb {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gnb-menu .gnb li {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 120px;
  font-size: 18px;
  -webkit-transition: letter-spacing .3s;
  transition: letter-spacing .3s;
}

.gnb-menu .gnb li.on, .gnb-menu .gnb li:hover {
  letter-spacing: 0.5em;
}

.gnb-menu .gnb li.on a, .gnb-menu .gnb li:hover a {
  color: #fff;
  text-shadow: 0 0 2px #222;
}

.gnb-menu .gnb li a {
  color: #002363;
  font-weight: 800;
}

.home h1 {
  font-size: 130px;
  color: #014477;
  text-shadow: 1px 1px 30px #fff;
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 800;
  position: absolute;
  width: 100%;
  bottom: 160px;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
}

.home p {
  font-size: 38px;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Kaushan Script',sans-serif;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-style: italic;
  text-align: left;
  position: absolute;
  top: 27%;
  left: 55%;
}

.about .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 50px #fff;
          box-shadow: 0 0 50px #fff;
  border-radius: 50px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.4);
}

.about .center .profile {
  width: 350px;
}

.about .center .profile img {
  border-radius: 10px;
}

.about .center .content {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
}

.about .center .content h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about .center .content > ul li {
  font-size: 18px;
  line-height: 40px;
}

.about .center .content > ul li span {
  font-weight: bold;
}

.about .center .content h4 {
  color: #002363;
  font-weight: 800;
  font-size: 18px;
  margin-top: 40px;
}

.about .center .content p {
  font-size: 18px;
  line-height: 40px;
}

.about .center .content .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .center .content .skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 12%;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .center .content .skills ul li span {
  padding-top: 10px;
}

.about .center .content .skills ul li img {
  width: 70%;
}

.project .bg {
  position: relative;
}

.project .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}

.project .name li a {
  display: block;
  position: relative;
  z-index: 3;
}

.project .name li a:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  left: -5%;
  width: 0;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.project .name li.on a:after, .project .name li a:hover:after {
  width: 110%;
}

.project .view {
  position: relative;
}

.project .view li {
  padding: 80px;
  width: 100%;
  height: 580px;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  top: 0;
  left: 0;
  display: none;
}

.project .view li.on {
  display: block;
}

.project .view li .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 30px;
}

.project .view li h3, .project .view li h4 {
  font-weight: bold;
}

.project .view li h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.project .view li h4 {
  color: #002363;
  font-size: 18px;
  width: 100px;
}

.project .view li p {
  font-size: 16px;
  width: 420px;
}

.project .view li p.list-p {
  margin-top: 20px;
  line-height: 30px;
  word-break: keep-all;
}

.project .view li .view-btn {
  font-weight: 800;
  display: block;
  text-transform: uppercase;
  color: #002363;
  border: 2px solid #002363;
  border-radius: 5px;
  height: 45px;
  font-size: 16px;
  width: 140px;
  text-align: center;
  line-height: 45px;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.project .view li .view-btn:hover {
  background: #002363;
  color: #fff;
}

.project .view li .moniter {
  position: absolute;
  top: 80px;
  right: 80px;
}

.project .view li .moniter .website a {
  display: block;
  position: relative;
  width: 30vw;
  height: 20vh;
  min-width: 450px;
  min-height: 380px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact h2 {
  color: white;
}

.contact .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .intro {
  padding: 50px;
  width: 100%;
}

.contact .intro p {
  color: #fff;
  font-size: 18px;
  line-height: 200%;
}

.contact .intro ul {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.contact .intro ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .intro ul li.email {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .intro a {
  display: block;
  width: 80px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.contact .intro a img {
  width: 70%;
}

.contact .intro a:hover {
  color: #fff;
}

.contact .intro a.email {
  margin-top: 70px;
  width: 100%;
  font-size: 20px;
  text-align: right;
}

.fish {
  background-image: url(../img/fish.png);
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  -webkit-animation: fish 24s infinite linear;
          animation: fish 24s infinite linear;
}

.fish.fish1 {
  top: 40%;
}

.fish.fish2 {
  top: 75%;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@-webkit-keyframes fish {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes fish {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.footer {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.footer address {
  line-height: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */