@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}

#main {
  width: 100%;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
}

#about {
  position: relative;
  height: 100vh;
  min-height: 969px;
}

#project {
  position: relative;
  height: 100vh;
  min-height: 969px;
  overflow: hidden;
}

#contact {
  position: relative;
  height: 93vh;
  overflow: hidden;
}

#footer {
  position: relative;
  height: 7vh;
  background: #ffba00;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

h2 {
  font-size: 50px;
  color: #1767AE;
  font-weight: 800;
  text-align: center;
  font-family: 'RixYeoljeongdo_Regular', normal;
  padding: 70px 0 50px 0;
}

.logo {
  position: fixed;
  top: 45px;
  left: 50px;
  z-index: 500;
}

.logo a {
  display: block;
  font-family: 'RixYeoljeongdo_Regular', normal;
  font-size: 15px;
  color: #ffba00;
}

.gnb-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 120px;
  z-index: 500;
}

.gnb-menu .gnb {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gnb-menu .gnb li {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 120px;
  font-size: 18px;
  -webkit-transition: letter-spacing .3s;
  transition: letter-spacing .3s;
}

.gnb-menu .gnb li.on, .gnb-menu .gnb li:hover {
  letter-spacing: 0.5em;
}

.gnb-menu .gnb li.on a, .gnb-menu .gnb li:hover a {
  color: #ffba00;
  font-weight: 800;
}

.gnb-menu .gnb li a {
  color: #1767AE;
  font-weight: 800;
}

.home .bg1 {
  width: 800px;
  position: absolute;
  left: -95px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
}

.home .bg2 {
  width: 550px;
  position: absolute;
  right: -100px;
  top: 100px;
  border-radius: 50%;
}

.home h1 {
  font-size: 110px;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  font-family: 'RixYeoljeongdo_Regular', normal;
  position: absolute;
  width: 100%;
  top: 20%;
  left: -10%;
  text-align: left;
  z-index: 1;
}

.home p {
  font-size: 70px;
  color: #1767AE;
  font-family: 'RixYeoljeongdo_Regular', normal;
  text-align: right;
  position: absolute;
  right: -200px;
  word-wrap: break-word;
  text-transform: uppercase;
  bottom: 15%;
}

.home p span {
  color: #ffba00;
}

.about .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 50px #fff;
          box-shadow: 0 0 50px #fff;
  border-radius: 50px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.4);
}

.about .center .profile {
  width: 350px;
}

.about .center .profile img {
  border-radius: 50%;
}

.about .center .content {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
}

.about .center .content h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about .center .content > ul li {
  font-size: 18px;
  line-height: 40px;
}

.about .center .content > ul li span {
  font-weight: bold;
}

.about .center .content h4 {
  color: #1767AE;
  font-weight: 800;
  font-size: 18px;
  margin-top: 40px;
}

.about .center .content p {
  font-size: 18px;
  line-height: 40px;
}

.about .center .content .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .center .content .skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 12%;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .center .content .skills ul li span {
  padding-top: 10px;
}

.about .center .content .skills ul li img {
  width: 70%;
}

.project .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}

.project .name li a {
  display: block;
  position: relative;
  z-index: 3;
}

.project .name li a:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  left: -5%;
  width: 0;
  height: 50%;
  background-color: #ffba00;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.project .name li.on a:after, .project .name li a:hover:after {
  width: 110%;
}

.project .view {
  position: relative;
}

.project .view li {
  padding: 80px;
  width: 100%;
  height: 580px;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  top: 0;
  left: 0;
  display: none;
}

.project .view li.on {
  display: block;
}

.project .view li .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 30px;
}

.project .view li h3, .project .view li h4 {
  font-weight: bold;
}

.project .view li h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.project .view li h4 {
  color: #1767AE;
  font-size: 18px;
  width: 100px;
}

.project .view li p {
  font-size: 16px;
  width: 420px;
}

.project .view li p.list-p {
  margin-top: 20px;
  line-height: 30px;
  word-break: keep-all;
}

.project .view li .view-btn {
  font-weight: 800;
  display: block;
  text-transform: uppercase;
  color: #1767AE;
  border: 2px solid #1767AE;
  border-radius: 5px;
  height: 45px;
  font-size: 16px;
  width: 140px;
  text-align: center;
  line-height: 45px;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.project .view li .view-btn:hover {
  background: #1767AE;
  color: #fff;
}

.project .view li .moniter {
  position: absolute;
  top: 80px;
  right: 80px;
}

.project .view li .moniter .website a {
  display: block;
  position: relative;
  width: 30vw;
  height: 20vh;
  min-width: 450px;
  min-height: 380px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact .contact-wrap {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.contact .contact-wrap .contact-text p {
  font-size: 20px;
  line-height: 200%;
  margin-top: 30px;
}

.contact .contact-wrap .contact-info {
  position: relative;
}

.contact .contact-wrap .contact-info .contact-title {
  font-size: 18px;
  text-align: right;
  margin: 120px 130px 0 0;
}

.contact .contact-wrap .contact-info a {
  float: right;
  color: #ffba00;
  font-size: 16px;
}

.contact .contact-wrap .contact-info a.contact-email {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 600;
  color: #1767AE;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact .contact-wrap .contact-info a.contact-email:hover, .contact .contact-wrap .contact-info a.contact-email:focus {
  color: #ffba00;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.contact .contact-wrap .contact-info ul {
  position: absolute;
  right: 20px;
  top: 100px;
}

.contact .contact-wrap .contact-info ul li {
  float: left;
  padding: 15px;
  font-weight: 600;
}

.contact .contact-wrap .contact-info ul li a {
  font-size: 18px;
}

.footer {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.footer address {
  line-height: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */