@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: #fff0c1;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffd988;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ffba00;
}

#wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}

#main {
  width: 100%;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 969px;
  background: #fffff0;
}

#about {
  position: relative;
  height: 100vh;
  min-height: 969px;
  background-color: #dff1ff;
}

#project {
  position: relative;
  height: 100vh;
  min-height: 969px;
  overflow: hidden;
}

#contact {
  position: relative;
  height: 93vh;
  overflow: hidden;
}

#footer {
  position: relative;
  height: 7vh;
  background: #ffba00;
}

.container {
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

h1, h2, h3, .logo, .home p {
  font-family: "RixYeoljeongdo_Regular";
}

h2 {
  font-size: 36px;
  color: #1767ae;
  text-align: center;
  padding: 110px 0 70px 0;
}

.logo {
  position: fixed;
  top: 45px;
  left: 50px;
  z-index: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  font-size: 18px;
  color: #ffba00;
}

.logo.on {
  left: -120px;
  opacity: 0;
}

.img-logo {
  position: fixed;
  top: 40px;
  left: -100px;
  z-index: 500;
  width: 60px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.img-logo.on {
  left: 40px;
  opacity: 1;
}

.gnb-menu {
  position: fixed;
  right: 50px;
  top: 0;
  height: 100%;
  z-index: 500;
}

.gnb-menu .gnb {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gnb-menu .gnb li {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 18px;
  -webkit-transition: letter-spacing .3s;
  transition: letter-spacing .3s;
}

.gnb-menu .gnb li.on, .gnb-menu .gnb li:hover {
  letter-spacing: 0.5em;
}

.gnb-menu .gnb li.on a, .gnb-menu .gnb li:hover a {
  color: #ffba00;
}

.gnb-menu .gnb li a {
  color: #1767ae;
  font-weight: 800;
}

.home .circle {
  position: relative;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 330px;
  width: 330px;
  border-radius: 50%;
  background: #dff1ff;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.home h1 {
  font-size: 100px;
  color: #fff;
  -webkit-text-stroke: 1px #1767ae;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 10px;
  text-align: left;
  z-index: 1;
  -webkit-animation: mainTxt 2s forwards;
          animation: mainTxt 2s forwards;
}

@-webkit-keyframes mainTxt {
  to {
    text-shadow: #1767ae 0px 0px, #1767ae -1px 1px, #1767ae -2px 2px, #1767ae -3px 3px, #1767ae -4px 4px, #1767ae -5px 5px, #1767ae -6px 6px, #1767ae -7px 7px, #1767ae -8px 8px, #1767ae -9px 9px, #1767ae -10px 10px, #1767ae -11px 11px, #1767ae -12px 12px, #1767ae -13px 13px, #1767ae -14px 14px, #1767ae -15px 15px;
  }
  from {
    text-shadow: #1767ae 0px 0px;
  }
}

@keyframes mainTxt {
  to {
    text-shadow: #1767ae 0px 0px, #1767ae -1px 1px, #1767ae -2px 2px, #1767ae -3px 3px, #1767ae -4px 4px, #1767ae -5px 5px, #1767ae -6px 6px, #1767ae -7px 7px, #1767ae -8px 8px, #1767ae -9px 9px, #1767ae -10px 10px, #1767ae -11px 11px, #1767ae -12px 12px, #1767ae -13px 13px, #1767ae -14px 14px, #1767ae -15px 15px;
  }
  from {
    text-shadow: #1767ae 0px 0px;
  }
}

.home h3 {
  font-size: 16px;
  position: absolute;
  bottom: 280px;
  left: 10px;
  text-transform: uppercase;
  color: #ffba00;
}

.home p {
  font-size: 60px;
  color: #1767ae;
  text-align: right;
  position: absolute;
  right: -70px;
  word-wrap: break-word;
  text-transform: uppercase;
  bottom: 15%;
}

.home p span {
  color: #ffba00;
}

.home .scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 35px;
  height: 50px;
  border: 3px solid #ffba00;
  border-radius: 30px;
}

.home .scroll span {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 15px;
  opacity: 0;
  background: #ffba00;
  border-radius: 5px;
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  25% {
    top: 5px;
    opacity: 1;
    height: 35px;
  }
  50% {
    height: 20px;
    top: 19px;
  }
  100% {
    height: 20px;
    top: 19px;
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  25% {
    top: 5px;
    opacity: 1;
    height: 35px;
  }
  50% {
    height: 20px;
    top: 19px;
  }
  100% {
    height: 20px;
    top: 19px;
    opacity: 0;
  }
}

.about .about-box {
  position: relative;
  -webkit-box-shadow: 3px 3px #1767ae;
          box-shadow: 3px 3px #1767ae;
  border-radius: 30px;
  padding: 90px 50px;
  height: 600px;
  background: #fff;
}

.about .about-box .profile {
  width: 300px;
  height: 420px;
  float: left;
}

.about .about-box .content1 p, .about .about-box .content1 li, .about .about-box .content2 li {
  font-size: 17px;
  line-height: 25px;
}

.about .about-box .content1 {
  position: absolute;
  left: 400px;
}

.about .about-box .content1 h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: "RixYeoljeongdo_Regular";
  font-weight: 500;
  color: #ffba00;
}

.about .about-box .content1 .name {
  font-weight: 800;
  font-size: 20px;
}

.about .about-box .content1 ul {
  margin-top: 90px;
}

.about .about-box .content2 {
  position: absolute;
  right: 50px;
}

.about .about-box .content2 ul:last-of-type {
  margin-top: 68px;
}

.about .about-box .content2 .skills {
  width: 500px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-box .content2 .skills li {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-box .content2 .skills li span {
  padding-top: 5px;
  font-size: 13px;
  font-family: 'Noto Sans';
  font-weight: 100;
}

.about .about-box .content2 .skills li img {
  width: 55%;
}

.about .about-box .tit {
  font-size: 20px !important;
  color: #ffba00;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 25px;
  font-family: "RixYeoljeongdo_Regular";
}

.project h2 {
  color: #ffba00;
  padding-bottom: 100px;
}

.project h3 {
  font-family: 'NanumSquare';
}

.project .name {
  font-size: 20px;
  margin-bottom: 40px;
}

.project .name li {
  display: inline-block;
  margin-right: 15px;
}

.project .name li a {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid #dff1ff;
  -webkit-box-shadow: 0 4px #dff1ff;
          box-shadow: 0 4px #dff1ff;
  display: block;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.project .name li.on a, .project .name li a:hover {
  background-color: #dff1ff;
  border-color: #fff;
  -webkit-box-shadow: 0 3px #dff1ff;
          box-shadow: 0 3px #dff1ff;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.project .view {
  position: relative;
}

.project .view li {
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 20px;
  display: none;
}

.project .view li.on {
  display: block;
}

.project .view li .project-content {
  width: 430px;
}

.project .view li p {
  font-size: 17px;
}

.project .view li p.list-p {
  margin-top: 20px;
  line-height: 30px;
}

.project .view li p.category {
  font-size: 20px;
  margin-bottom: 5px;
}

.project .view li .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 30px;
}

.project .view li h3, .project .view li h4 {
  font-weight: bold;
}

.project .view li h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.project .view li h4 {
  color: #1767ae;
  font-size: 18px;
  width: 100px;
}

.project .view li .view-btn, .project .view li .process-btn {
  font-weight: 800;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  color: #1767ae;
  border: 1px solid #1767ae;
  -webkit-box-shadow: 0 4px #1767ae;
          box-shadow: 0 4px #1767ae;
  border-radius: 30px;
  height: 45px;
  font-size: 18px;
  width: 140px;
  text-align: center;
  line-height: 47px;
  margin-top: 30px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.project .view li .view-btn:hover, .project .view li .process-btn:hover {
  background: #1767ae;
  color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 3px #1767ae;
          box-shadow: 0 3px #1767ae;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.project .view li .moniter {
  position: absolute;
  top: -40px;
  right: 0;
  width: 600px;
  height: 530px;
  background: url(../img/moniter.png) no-repeat;
  background-size: 100%;
}

.project .view li .moniter a {
  display: block;
  position: relative;
  top: 25px;
  left: 27px;
  width: 547px;
  height: 327px;
  overflow: hidden;
}

.project .view li .moniter a img {
  position: relative;
  top: 0;
  left: 0;
}

.project .view li .moniter p {
  position: absolute;
  left: 20px;
  bottom: 70px;
  font-family: 'Noto Sans';
  font-size: 13px;
}

.project .view li .phone {
  position: absolute;
  top: -80px;
  right: 0px;
  width: 300px;
  height: 550px;
  background: url(../img/phone1.png) no-repeat;
  background-size: 100%;
}

.project .view li .phone a {
  display: block;
  position: relative;
  top: 25px;
  left: 27px;
  width: 200px;
  height: 327px;
  overflow: hidden;
}

.project .view li .phone a img {
  position: relative;
  top: 0;
  left: 0;
}

.project .view li .phone p {
  position: absolute;
  left: 20px;
  bottom: 90px;
  font-family: 'Noto Sans';
  font-size: 13px;
}

.contact h2 {
  text-align: left;
}

.contact .contact-wrap .contact-text p {
  font-size: 20px;
  line-height: 200%;
  margin-top: 30px;
}

.contact .contact-wrap .contact-info {
  position: relative;
}

.contact .contact-wrap .contact-info .contact-title {
  font-size: 18px;
  text-align: right;
  font-family: 'NanumSquare';
  margin: 120px 130px 0 0;
}

.contact .contact-wrap .contact-info a {
  float: right;
  color: #ffba00;
  font-size: 16px;
}

.contact .contact-wrap .contact-info a.contact-email {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 600;
  color: #1767ae;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact .contact-wrap .contact-info a.contact-email:hover, .contact .contact-wrap .contact-info a.contact-email:focus {
  color: #ffba00;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.contact .contact-wrap .contact-info ul {
  position: absolute;
  right: 20px;
  top: 100px;
}

.contact .contact-wrap .contact-info ul li {
  float: left;
  padding: 15px;
  font-weight: 600;
}

.contact .contact-wrap .contact-info ul li a {
  font-size: 18px;
}

.fish {
  background-image: url(../img/fish.png);
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  -webkit-animation: fish 24s infinite linear;
          animation: fish 24s infinite linear;
}

.fish.fish1 {
  top: 40%;
}

.fish.fish2 {
  top: 75%;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@-webkit-keyframes fish {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes fish {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.footer {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.footer address {
  line-height: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */