div, ul{display:block}
li{display: list-item;}
.clFix:after{content:''; display:table; clear:both;}
label,input{vertical-align:middle; font-weight:500; cursor:pointer;}
option{font-weight:normal; display:block; white-space:nowrap; min-height:12px; padding:0 2px 1px;}
*:before, *:after{box-sizing:border-box;}

/* 스킵메뉴 */
#skip{z-index:4; position:relative; width:100%; height:auto;font-size:0;}
#skip a{display:block; padding:0; font-size:0; text-align:center; color:#fff; background:#000;}
#skip a:focus{padding:20px; font-size:16px;}

/* 전체 레이아웃 */
#wrap{width:100%; margin:0 auto; display:block;} 
#header{width:100%; height:236px;}
#main{width:100%; height:2442px; position:relative;}
#footer{width:100%; height:184px; clear:both;}

/* header */
#head_gnb{height:45px; background:#fff; border-bottom:1px solid #cecece; position:relative; z-index:1000000;}
#head_gnb .gnb_bar{width:1180px; position:relative;}
#head_gnb .gnb_nav_box{position:relative; float:left;}
#head_gnb .gnb_nav_box .gnb_control{display:block; font-weight:500; font-size:14px;position:relative; min-width:130px; padding:11px; color:#4d4d4d; background:#fff;}
#head_gnb .gnb_nav_box .gnb_control i{background:url(../img/spr_portal_select.png) no-repeat 50% 100%; height:15px; width:15px; display:inline-block; margin-bottom:2px; vertical-align:middle;}
#head_gnb .gnb_nav_box .gnb_control:after{width:1px; height:13px; background:#dcdcdc; content:""; display:inline-block; vertical-align:middle; margin-left:11px;}
#head_gnb .gnb_nav_box .gnb_control.close{display:none;}
#head_gnb .gnb_nav_box>.gnb_nav{display:none; }
/* #head_gnb .gnb_nav_box>.gnb_nav li{}
#head_gnb .gnb_nav_box>.gnb_nav li a{} */
#head_gnb .gnb_bar>ul.gnb_nav{float:left;}
#head_gnb .gnb_bar>ul.gnb_nav li{float:left;}
#head_gnb .gnb_bar>ul.gnb_nav li a{display:block; padding:11px 11px 11px 0; font-size:14px; color:#4d4d4d; font-weight:500;}
#head_gnb .gnb_bar>ul.gnb_nav li:not(:last-child) a:after{width:1px; height:13px; background:#dcdcdc; content:""; display:inline-block; vertical-align:middle; margin-left:11px;}
#head_gnb .gnb_bar>ul.gnb_nav li.last a{color:#f37021}
#head_gnb .gnb_option{display:inline-block; position:absolute; top:0; right:0;}
#head_gnb .gnb_option li{float:left; margin-left:20px;}
#head_gnb .gnb_option .fav_site{display:block; background:#003e92; border-radius:90px; color:#fff; font-size:13px; padding:3px 17px; margin-top:7px;}
#head_gnb .gnb_option .fav_site:after{content:''; display:inline-block; background:url(../img/ico_sitemap_visual_go.png) no-repeat center center/contain; height:12px; width:12px; margin-left:10px; vertical-align:middle;}
.fav_site:hover{text-decoration:none;}
.lang_site{display:inline-block; margin-top:7px;}
.lang_site label{font-size:0; position:absolute;}
.lang_site select{height:20px; font-family:'Roboto', sans-serif; border:1px solid #dfdfe1; background:#fff; padding:0 5px; margin-top:1px; float:left;}
.gnb_option .lang_site select option{font-family:'NotoSans', sans-serif;} 
.gnb_option .lang_site input{float:left; font-size:11px; color:4d4d4d; background:#fff; border:1px solid #b9b9b9; border-radius:3px; width:35px; height:22px; margin-left:2px; line-height:22px;}
.gnb_option .login{font-size:14px; margin-top:7px;}
.gnb_option .login a{color:#4d4d4d;}
.gnb_option .login a:hover{text-decoration:none; color:#000;}
#head_gnb .gnb_bar:after{content:''; clear:both; display:block;}

#head_inner{height:114px; background:#fff;}
#head_inner .innerWrap{padding:8px 0 11px 0; position:relative;}
#head_inner h1{position:absolute; top:18px; left:0;}
#head_inner a.main_logo{background:url(../img/logo.png) no-repeat; height:47px; width:138px; display:block; font-size:0; }
#head_inner .searchWrap{width:40%; margin:0 auto; font-size:14px; position:relative; overflow:hidden;}
#head_inner .search_win{width:88%; height:53px; float:left; border:4px solid #003e92; background:#fff; border-radius:100px; overflow:hidden;}
.search_win li{float:left; position:relative; padding:5px 0 5px 5px;}
.search_win li:nth-child(1){width:35%; padding:5px 0 5px 20px;}
.search_win li select{border:1px solid #fff; width:100%; color:#777; appearance:none; padding:7px 7px 7px 12px; background:url(../img/select_arrow.png) no-repeat 90% 50%; height:35px; font-size:inherit;}
.search_win li:nth-child(2){width:58%; margin-left:15px; height:45px;}
.search_win li>input{width:100%; border:1px solid #fff;  padding:7px 6px; margin-top:-2px;}
.searchForm .search_btn{float:right;}
.searchForm .search_btn input{background:#003e92 url(../img/ico_search.png) no-repeat 50% 50%; width:52px; height:52px; font-size:0; border-radius:100px; border:1px solid #dedede; padding:8px 0;}
.searchWrap .keyword{clear:both; padding-top:10px; text-align:center;}
.keyword ul{display:inline-block;}
.keyword ul li{float:left; margin:2px 10px;}
.keyword ul li:last-child{margin-right:0;}
.keyword ul li a{font-size:13px; color:#616161; letter-spacing:-1.12px;}
.keyword ul li a:hover{text-decoration:none;}
.innerWrap .sns_icon{position:absolute; top:19px; right:0;}
.sns_icon ul{display:inline-block;}
.sns_icon ul li{float:left; margin-left:9px;}
.sns_icon ul li:first-child{margin-left:0;}
.sns_icon ul li a{font-size:0; background:url(../img/icon_sns.png); height:38px; width:38px; display:block; }
.sns_icon ul li a[title="페이스북"]{background-position:0 0;}
.sns_icon ul li a[title="카카오스토리"]{background-position:-113px 0;}
.sns_icon ul li a[title="네이버블로그"]{background-position:-226px 0;}
.sns_icon ul li a[title="유튜브"]{background-position:-170px 0;}
.sns_icon ul li a[title="인스타그램"]{background-position:-283px 0;}

#head_lnb{height:77px; border-top:1px solid #cecece; border-bottom:2px solid #003e92; position:relative; z-index:99999;}
/* #head_lnb .layer{height:77px; width:100%; z-index:99999; position:relative;} */
#lnb{width:1180px; margin:0 auto;}
#lnb>li{float:left; width:16.666%; text-align:center; height:74px;}
#lnb>li>a{padding:22px 0; font-size:19px; color:#303030; font-weight:600; position:relative; display:block;}
#lnb>li>a:hover{text-decoration:none;}
#lnb>li>a:before{content:''; display:block; position:absolute; left:50%; bottom:0; transform:translate(-50%, 0); height:3px; background:#ef5713;}
#lnb>li>a.on:before, #lnb>li.on>a:before{width:40px;}
#lnb>li>a:hover:before, #lnb>li>a:focus:before{animation:active 0.5s forwards;}
@keyframes active{
	0%{width:0;}
	100%{width:40px;}
}
#lnb>li>a:after{content:''; float:right; display:inline-block; vertical-align: middle; margin-top:8px; width:2px; height:13px; background:#c9c9c9;}
#lnb>li:last-child>a:after{width:0; height:0;}
#lnb .lnb_sub{background:#fff url(../img/nav_bg.gif) no-repeat center top; position:absolute; top:77px; left:0; margin:0 auto; display:none; width:100%; height:auto; border-bottom:1px solid #dedede; box-shadow:0 5px 10px 0 rgba(50,50,50,0.2);}
#lnb li:hover>.lnb_sub{display:block;}
.lnb_sub .depth02{width:1180px; margin:0 auto; position:relative; padding:23px 0 70px 0;}
.lnb_sub .depth02>li{float:left; position:relative; width:18.4%; margin-right:2%;}
.lnb_sub .depth02>li:nth-child(5n){margin-right:0;}
.lnb_sub .depth02>li>a{display:block; background-color:#003c8e; color:#fff; text-align:left; font-size:17px; padding:8px 15px; margin:10px 0; letter-spacing:-0.8pt; border-radius:4px; position:relative;}
.lnb_sub .depth02>li>a:hover{text-decoration:none; background-color:#003071;}
.lnb_sub .depth02>li>a[target=_blank]:after{background:url(../img/spr_common.png) 0 0 no-repeat; content:''; position:absolute; top:50%; width:17px; height:15px; right:10px; margin-top:-3px;}
.lnb_sub .depth02>li>a>span{color:#fff;}
.lnb_sub .depth03>li{position:relative; margin-left:0; text-align:left;}
.lnb_sub .depth03>li>a{color:#505050; font-size:15px; line-height:160%; padding:3px 0 3px 12px; letter-spacing:-0.5pt; display:block;}
.lnb_sub .depth03>li>a:hover{color:#334d72; font-weight:400;}
.lnb_sub .depth03>li>a:before{content:''; width:5px; height:5px; left:0; top:14px; position:absolute; background:#c5c5c5;}
.lnb_sub .depth03>li>a:hover:before{background:#334d72;}
.lnb_sub .depth03>li>a[target=_blank]:after{background:url(../img/spr_common.png) -23px -22px no-repeat; content:''; width:14px; height:12px; margin:3px 5px 0 0; float:right;}

#lnb0206{margin-top:-180px;}
#lnb0306{margin-top:-150px;}
#lnb0307{margin-top:-210px;}
#lnb0308{margin-top:-210px;}
#lnb0405 span{letter-spacing:-0.5pt;}
#lnb0618 a{background:#f37021}

/* main */
#mainWrap{ padding:24px 0 50px; height:inherit; position:relative; box-sizing:border-box;}
#mainWrap a:hover{text-decoration:none;}
#snbWrap{width:220px; height:614px; float:left;}
#snbWrap h2{position:relative; text-align:center; color:#fff; background:url(../img/h2_bg.gif) no-repeat 0 0; height:160px; font-size:32px; line-height:130%; padding:65px 10px 0; letter-spacing: -0.5px;}
#snbWrap h2 span{display:block; position:absolute; left:0; top:53px; font-size:9px; letter-spacing:4px; font-family:'Montserrat', sans-serif; font-weight:800; width:100%; letter-spacing:4px; line-height:10px; color:#a5b7e2}
#snbWrap .nav{display:block;}
.snb>li{margin:5px 0;}
.snb>li>a{display:block; border:1px solid #bebebe; color:#003e92; font-weight:500; font-size:16px; position:relative; padding:15px 20px; letter-spacing:-1px;}
.snb>li>a:before{content:''; background:url(../img/spr_snb.png) 0 0; display:block; width:13px; height:13px; position:absolute; right:10px; top:50%; margin-top:-6px; }
.snb li a img{margin-left:9px;}
.snb>li>a.state:before{background-position:0 -153px;}
.snb>li>a.state.on{background:#003e92; border:1px solid #003e92; color:#fff; border-bottom:none; height:26px;}
.snb>li>a.state.on:before{background:url(../img/spr_snb.png) 0 -105px;}
.snb>li>a.state.on+ul{padding:5px 0; background:#f5f5f5;}
.snb>li>ul>li{margin:3px 0; padding:0 8px;}
.snb>li>ul li a{display:block; padding:3px 0 2px 8px; font-size:15px; letter-spacing:-1px;}
.snb>li>ul li a.on{color:#333; font-weight:bold; text-decoration:underline;}
.snb>li>ul li a:before{content:''; width:4px; height:4px; background:#003e92; margin-right:4px; display:inline-block; vertical-align:middle;}
#main_content{width:900px; float:right; display:block; height:auto;} 
#titWrap{padding:0 0 17px 0; position:relative;}
#titWrap h3{font-size:22px; font-weight:600; color:#313131; line-height:120%; letter-spacing:-0.5px; margin:16px 0;}
#spotWrap{padding:11px 0 13px; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; height:69px;}
.spot_list{float:left; margin-top:6px;}
.spot_list li{float:left; padding:0 3px; position:relative;}
.spot_list li:first-child{padding-left:0;}
.spot_list li:before{content:''; background:url(../img/spr_spot.png) 0 -26px no-repeat; width:8px; height:13px; display:inline-block; margin:3px 8px 0 5px; vertical-align:middle;}
.spot_list li:first-child:before{background-position:0 0; width:18px; height:18px; margin-top:0;}
.spot_list li a{color:#525252; vertical-align:middle; letter-spacing:-0.8px;}
.spot_list li:last-child a{color:#313131; font-weight:700;}
.spot_list li:last-child a:hover{color:#117fc3;}
.spot_list a:hover{color:#117fc3;}
.spot_acc{float:right;}
.spot_acc li{float:left;}
.spot_acc li a{position:relative; display:inline-block; width:36px; height:36px; margin:0 5px;}
.bod_guide{border-top:2px solid #3770d4; border-left:1px solid #c4c4c4; border-right:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; margin-bottom:30px; background:#fff; padding:15px 30px 15px 158px; position:relative; font-weight:500; background:url(../img/bg_box_character.png) 30px 20px no-repeat; background-size:110px; height:150px;}
.bod_guide .tit{color:#d64200; letter-spacing:-1px; font-weight:bold; font-size:26px; margin-top:5px; }
.bod_guide .tit_sub{margin-top:3px; font-size:18px; color:#454545; font-weight:500; }
.ctn_area h4{background:url(../img/bullet_deptle.png) 0 5px no-repeat; background-size:15px; font-size:20px; color:#3b3a3a; font-weight:700; line-height:24px; padding-left:21px; margin:50px 0 0;}
.ctn_area h4:nth-of-type(1){margin-top:0;}
.ctn_area .box_cont{background:#fff; border:3px solid #eee; position:relative; min-height:180px; margin-top:18px; padding:35px 40px 40px 40px; overflow:hidden; margin-left:22px;}
.box_cont>div:first-child{width:25%; position:relative; float:left; text-align:center; height:auto; display:block;}
.downBtn{text-align:center; border:1px solid #ddd; border-radius:10px; padding:13px 37px 13px 20px; box-sizing:border-box; vertical-align:middle; display:inline-block; background:url(../img/icon_newtap_04.png) no-repeat calc(100% - 12px) 11px; background-size:16px; height:40px; font-size:15px; margin:5px 5px 5px 0; line-height:10px; color:#666;}
.box_cont>div.txt{width:75%; float:right; display:block; text-align:left; padding-left:30px;}
.txt .depth_01{margin-bottom:18px;}
.txt .depth_01>li{background:url(../img/bullet_dep03.png) 0 7px no-repeat; font-size:15px; color:#7a7a7a; padding-left:15px;}
.txt .depth_01>li+li{margin-top:10px;}
.ctn_area .depth_02{margin:10px 0 0 0;}
.ctn_area .depth_02>li{margin:0 0 7px 0; padding-left:16px; background:url(../img/bullet_dep04.png) 0 10px no-repeat;}
.open_license{border:1px dashed #dcdcdc; margin-top:50px; padding:1%; background:#f7f7f7; height:116px;}
.open_license a{padding-right:0; float:left; text-align:center;}
.open_license a img{display:block;}
.open_license p{margin-left:11px; float:left; padding-top:17px; display:inline-block; vertical-align:middle;}

.pageInfo{clear:both; border:1px solid #dfe2e7; margin-top:30px; background:#fff;}
.pageInfo .teamData{color:#505050; width:100%; padding:10px 20px; height:auto;border-bottom: 1px solid #dfe2e7; overflow:hidden; text-align:left;}
.teamData dl{width:100%; color:#555; font-size:15px;}
.teamData dl dt{float:left; margin-right:7px;}
.teamData dl dd{float:left; overflow:hidden; margin:0;}
.teamData dd ul{float:left;}
.teamData dd ul li{float:left;}
.teamData dd ul li.mr{margin-right:20px;}
.teamData dd ul li span{color:#d64200; line-height:inherit;}
.teamData dd ul li a{color:#666;}
.teamData dd ul li a:hover{color:#000;}
.pageInfo .research{padding:30px 20px; vertical-align:middle; height:170px;}
.pageInfo .research legend{float:left;}
.research fieldset p{font-size:15px; color:#555;}
.research fieldset .radio_list{padding-top:5px; float:left; height:43px; margin-right:18px; line-height:43px;}
.radio_list li{float:left; padding:0;}
.radio_list li input{margin:3px 5px 0 5px;}
.radio_list li label{margin-left:-5px; font-size:15px; margin-right:10px; font-weight:400; color:#555;}
.radio_list:after{content:''; display:block; clear:both;}
.research .txtbox{width:390px; height:43px; font-size:15px; padding:10px 14px; border:1px solid #ccc;}
.research .researchBtn{width:80px; height:43px; text-align:center; color:#fff; line-height:1em; font-size:15px; background:#546b79; padding:8px 0; border:1px solid #dedede; }

/* footer */
.foot_site{background:#002a62;}
.familysite>li{padding:2px 0; float:left; width:25%; position:relative; border-right:1px solid #627c9e; box-sizing:border-box; height:50px;}
.familysite>li:first-child{border-left:1px solid #627c9e}
.familysite a{display:block; text-align:center; padding:12px; color:#fff; font-size:14px;}
.familysite a:hover{text-decoration:none;}

.foot_info{color:#3e3e3e; font-size:15px; padding:26px 0; line-height:150%; position:relative; margin:0 auto; height:134px; width:1180px;}
.foot_info div.logo, .foot_info div.info{float:left;}
.foot_info .logo{width:15%; height:42px; font-size:0; margin-top:30px; background:url(../img/logo.png) no-repeat 0 0;}
.foot_info .info{width:85%;}
.foot_info .policy li, .foot_info .contact li{float:left;}
.foot_info .policy li:not(:last-child), .foot_info .contact li{margin-right:10px;}
.foot_info .policy li a{font-size:14px; color:#3e3e3e; font-weight:500; letter-spacing:-0.7px;}
.foot_info .policy li a em strong{font-weight:bold; color:#ff4e00;}
.foot_info .policy li:not(:last-child):after{content:''; display:inline-block; width:2px; height:8px; background:#e3e3e3; vertical-align:middle; margin-left:10px; }
.foot_info .contact{margin:15px 0 3px;}
.foot_info .contact>li:not(:last-child):after{content:''; width:2px; height:10px; background:#c8c8c8; margin-left:10px; display:inline-block;}
.foot_info .contact>li:nth-child(2){font-family:'Roboto', sans-serif;}
.foot_info .contact>li:nth-child(3){font-family:'Roboto', sans-serif;}
.foot_info .contact li address{display:inline-block}
.foot_info .contact li a{color:#666;}
.foot_info .contact li a:hover{color:#000; text-decoration:none;}
.foot_info small{float:left; text-align:left; line-height:130%; font-size:10px; color:#acacac; letter-spacing:1.5px; font-weight:bold;}
.foot_info small span{color:#6d6d6d;}
.award_mark{position:absolute; top:17px; right:21%;}
.award_mark:after{content:'[지방자치기관분야 대상]'; position:absolute; left:-28px; bottom:-18px; letter-spacing:-1px; font-size:12px; width:120px;} 
.wa_mark{position:absolute; right:10%; top:17px;}

/* 공통속성 */
.container{height:inherit; width:1180px; margin:0 auto; position:relative;}