/* main */
#main{width:100%;}
#mainWrap{height:100%; padding:50px 0 50px;}
#titWrap{padding:0 0 17px 0; position:relative;}
#titWrap h3{font-size:22px; font-weight:600; color:#313131; line-height:120%; letter-spacing:-0.5px; margin:16px 0;}
#spotWrap{height:69px; padding:11px 0 13px; border-top:1px solid #cfcfcf; }
#loginForm{width:100%; border:1px solid #cecece; border-top:2px solid #003e92; height:319px; display:table;}
#login{width:560px; height:245px; padding:50px 60px; display:table-cell; }
#login .loginTitle{margin:0 0 40px 0; font-size:30px; font-weight:500; color:#292a2d; text-align:center;}
#login fieldset .formIdpw{float:left;}
#login fieldset .formIdpw p{margin:0 0 20px 0;}
#login fieldset .formIdpw p+p{margin-bottom:0;}
#login fieldset p input{width:310px; height:40px; padding:3px 10px; }
#login #btnLogin{width:120px; float:right; height:100px; background:#4171df; font-size:18px; text-align:center; color:#fff; border:none;}

#loginForm .findIdpw{padding:30px; border-left:1px solid #cecece; display:table-cell;}
#loginForm .findIdpw ul li{border-bottom:1px dashed #cecece; padding:0 0 40px 0;}
#loginForm .findIdpw ul li:last-child{border:none; padding:30px 0 0 0;}
#loginForm .findIdpwTitle{margin:0 0 30px 0; font-size:18px; color:#4e4f51; text-align:center;}
#loginForm .btnFindGroup{text-align:center; display:block;}
#loginForm .btnFind{min-width:112px; display:inline-block; text-align:center; background:#fff; border:1px solid #cecece; color:#4e4f51; font-size:14px; height:40px; padding:0 36px;}
#loginForm .btnJoin{background:#fff; color:#258384; border:1px solid #258384; min-width:112px; display:inline-block; text-align:center; font-size:14px; height:40px; padding:0 36px;}

.pageInfo{clear:both; border:1px solid #dfe2e7; margin-top:30px; background:#fff;}
.pageInfo .research{padding:30px 60px; vertical-align:middle; height:170px;}
.pageInfo .research form{margin-top:20px;}
.pageInfo .research legend{float:left;}
.research fieldset p{font-size:15px; color:#555;}
.research fieldset .radio_list{padding-top:5px; float:left; height:43px; margin-right:150px; line-height:43px;}
.radio_list li{float:left; padding:0;}
.radio_list li input{margin:3px 5px 0 5px;}
.radio_list li label{margin-left:-5px; font-size:15px; margin-right:10px; font-weight:400; color:#555;}
.radio_list:after{content:''; display:block; clear:both;}
.research .txtbox{width:400px; height:43px; font-size:15px; padding:10px 14px; border:1px solid #ccc;}
.research .researchBtn{width:80px; height:43px; text-align:center; color:#fff; line-height:1em; font-size:15px; background:#546b79; padding:8px 0; border:1px solid #dedede; }